%h3 Unsubscribe from Newsletter
- form_tag newsletter_unsubscribe_path do 
  = label_tag :email,"Email Address:", :style=>"margin-right:10px;" 
  = text_field_tag :email 
  = submit_tag "Unsubscribe" 